{% extends "public/index.html" %}
{% block content %}
<div class="container">
	<h3>Insert a new author</h3><br>
<form method="post">
	<label for="firstname">First Name:</label>
	<input type="text" name="firstname" id="firstname" class="form-control"><br>
	<label for="lastname">Last Name:</label>
	<input type="text" name="lastname" id="lastname" class="form-control"><br>
	<input type="submit" value="Insert Author" class="btn btn-info">
	<a href="{{root}}/authors/data" class="btn btn-dark">Back</a>
</form>
	<br>
{% if data.result is not empty %}
<p class="alert alert-primary w-50">{{data.result}}</p>
{% endif %}
</div>
{% endblock %}