{% extends "public/index.html" %}
{% block content %}

<div class="container jumbotron">
<form method="post">
	{% for song in data.selectedRow %}
	<h3>Edit song's information:</h3><br>
	<input type="hidden" name="id" value="{{song.ID}}"/>
	<label for="name">Name:</label>
	<input type="text" name="name" value="{{song.name}}" class="form-control"><br>
	<label for="year">Year:</label>
	<input type="number" name="year"  value="{{song.year}}" max="2019" class="form-control"><br>
	<label for="authorID">Author:</label>
	<select name="authorID" id="authorID" class="form-control">
		{% for author in data.allAuthors %}
		<option value="{{author.ID}}">{{author.firstname ~ " " ~ author.lastname}}</option>
		{% endfor %}
	</select><br>
	{% endfor %}
	<button type="submit" name="edit" value="true" class="btn btn-primary">Edit this potato</button>
	<a href="{{root}}/songs/data" class="btn btn-dark">Back to hell</a>
</form>
<br>
{% if data.result is not empty %}
<p class="alert alert-primary w-50">{{data.result}}</p>
{% endif %}
</div>

{% endblock %}